<template>
  <v-layout wrap>
    <v-flex md6>
      <v-card class="ma-1">
        <v-card-title class="headline">Homme</v-card-title>
        <v-card-text class="text-right">
          <span class="display-3">12</span>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex md6>
      <v-card class="ma-1">
        <v-card-title class="headline">Femme</v-card-title>
        <v-card-text class="text-right">
          <span class="display-3">84</span>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex md6>
      <v-card class="ma-1">
        <v-card-title class="headline">Tranche d'âge</v-card-title>
        <v-divider/>
        <v-list>
          <v-list-item>
            <v-list-item-content>- de 15 ans</v-list-item-content>
            <v-list-item-content class="text-right">2</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>15-19 ans</v-list-item-content>
            <v-list-item-content class="align-end">28</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>20-24 ans</v-list-item-content>
            <v-list-item-content class="align-end">67</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>25-29 ans</v-list-item-content>
            <v-list-item-content class="align-end">3</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>30-34 ans</v-list-item-content>
            <v-list-item-content class="align-end">37</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>35-39 ans</v-list-item-content>
            <v-list-item-content class="align-end">45</v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>+ de 40 ans</v-list-item-content>
            <v-list-item-content class="align-end">1</v-list-item-content>
          </v-list-item>

        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>


