<template>
  <v-app>
    <v-navigation-drawer :mini-variant.sync="isMini" app permanent>
      <v-list>
        <v-list-item v-if="!isMini">
          <v-list-item-content>
            <v-list-item-title class="title">
              BAN
            </v-list-item-title>

          </v-list-item-content>
          <v-btn @click.stop="isMini = !isMini" icon>
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </v-list-item>
        <v-list-item v-else>
          <v-list-item-content class="title">
            <span :style="{ cursor: 'pointer'}" class="text-center">B</span>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>
        <v-list-item nuxt to="/">
          <v-list-item-icon>
            <v-icon>mdi-account-box-multiple</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Visiteur</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item nuxt to="/analytics">
          <v-list-item-icon>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Analytique</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container fluid>
        <nuxt/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        isMini: false,
      }
    },
  }
</script>
