<template>
  <v-layout>
    <v-flex>
      <v-card class="ma-1 pb-4">
        <v-card-title class="headline">Visiteurs</v-card-title>
        <v-card-text>
          <v-simple-table fixed-header>
            <template v-slot:default>
              <thead>
              <tr>
                <th class="text-left">Nom</th>
                <th class="text-left">Prénom</th>
                <th class="text-left">Téléphone</th>
                <th class="text-left">Créé le</th>
                <th class="text-right">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr :key="visitor.id" v-for="visitor in visitors">
                <td>{{ visitor.name }}</td>
                <td>{{ visitor.familyName }}</td>
                <td>{{ visitor.phone }}</td>
                <td>{{ $moment().format("DD/MM/YY HH:mm") }}</td>
                <td class="text-right">
                  <v-dialog max-width="400">
                    <template v-slot:activator="{ on }">
                      <v-icon :style="{ cursor: 'pointer'}" v-on="on">mdi-clipboard-text</v-icon>
                    </template>
                    <v-card>
                      <v-card-title class="headline">{{ visitor.name }} {{ visitor.familyName }}</v-card-title>
                      <v-divider></v-divider>
                      <v-list dense>
                        <v-list-item>
                          <v-list-item-content>Sex</v-list-item-content>
                          <v-list-item-content>Femme</v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                          <v-list-item-content>Âge</v-list-item-content>
                          <v-list-item-content>12</v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                          <v-list-item-content>Téléphone</v-list-item-content>
                          <v-list-item-content>01238763549</v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                          <v-list-item-content>Localisation</v-list-item-content>
                          <v-list-item-content>2e arrondissement</v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                          <v-list-item-content>Canal d’information</v-list-item-content>
                          <v-list-item-content>Autre</v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                          <v-list-item-content>Orientation</v-list-item-content>
                          <v-list-item-content>Parcours BAN</v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-card>
                  </v-dialog>
                </td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>

        <v-dialog fullscreen hide-overlay transition="dialog-bottom-transition" v-model="addVisitorDialog">
          <template v-slot:activator="{ on }">
            <v-btn absolute bottom color="indigo" dark fab right v-on="on">
              <v-icon>mdi-account-plus</v-icon>
            </v-btn>
          </template>
          <v-card tile>
            <v-toolbar color="primary" dark>
              <v-btn @click="close" dark icon>
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-toolbar-title>Ajouter un visiteur</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn @click="addVisitor" dark text>Ajouter</v-btn>
              </v-toolbar-items>
            </v-toolbar>
            <v-card-text class="mt-5">
              <v-form ref="form" v-model="valid">
                <v-radio-group required row v-model="sex">
                  <v-radio label="Homme" value="man"></v-radio>
                  <v-radio label="Femme" value="woman"></v-radio>
                </v-radio-group>
                <v-text-field :rules="[v => !!v || 'Prénom obligatoire']" label="Prénom" required v-model="name"/>
                <v-text-field :rules="[v => !!v || 'Nom obligatoire']" label="Nom" required v-model="familyName"/>
                <v-text-field
                  :rules="[v => !!v || 'Age obligatoire', v => (v >= 10 && v <= 110) || 'Age doit être compris entre 18 et 110 ans']"
                  label="Age"
                  suffix="ans"
                  v-model="age"/>
                <v-text-field
                  :rules="[v => !!v || 'Téléphone obligatoire',v => v >= 1 || 'Numéro de téléphone non reconnu']"
                  label="Téléphone"
                  prefix="‎+235"
                  v-model="phone"/>
                <v-select
                  :items="['1er arrondissement', '2e arrondissement', '3e arrondissement', '4e arrondissement', '5e arrondissement', '6e arrondissement', '7e arrondissement', '8e arrondissement', '9e arrondissement', '10e arrondissement', 'Autre']"
                  :rules="[v => !!v || 'Arrondissement obligatoire']"
                  label="Localisation"
                  required
                  v-model="location"/>
                <v-select
                  :items="['Bouche à oreille','Internet','Media','Sensibilisation','Evènement','Prescription partenaire','Autre']"
                  :rules="[v => !!v || 'Canal d\'information obligatoire']"
                  label="Canal d'information"
                  required
                  v-model="informationChannel"/>
                <v-select
                  :items="['Parcours BAN',  'Documentation', 'Orientation', 'Partenaires', 'Formation FRE', 'Hors parcours', 'Autre']"
                  :rules="[v => !!v || 'Orientation obligatoire']"
                  label="Orientation"
                  required
                  v-model="guidance"/>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data() {
      return {
        visitors: [
          {id: '1', name: 'Thibaut', familyName: 'Mottet', phone: '0129384736', createdAd: '10'},
          {id: '2', name: 'Paula', familyName: 'Sirkis', phone: '0748202038', createdAd: '10'},
          {id: '3', name: 'Jonathan', familyName: 'Janik', phone: '84028764093', createdAd: '10'},
        ],
        addVisitorDialog: false,
        valid: true,
        name: null,
        sex: 'man',
        familyName: null,
        mail: null,
        age: null,
        phone: null,
        location: null,
        informationChannel: null,
        guidance: null,
      }
    },
    methods: {
      addVisitor() {
        if (this.$refs.form.validate()) {
          this.close()
        }
      },
      close() {
        this.addVisitorDialog = false
        this.$refs.form.reset()
      },
    },
  }
</script>
